## Gradle
.gradle
gradle-app.setting
build/

## Java:
*.class
*.war
*.ear
hs_err_pid*

## Android:
android/libs/armeabi/
android/libs/armeabi-v7a/
android/libs/x86/
android/gen/
local.properties
com_crashlytics_export_strings.xml

## GWT:
war/
html/war/gwt_bree/
html/gwt-unitCache/
.apt_generated/
html/war/WEB-INF/deploy/
html/war/WEB-INF/classes/
.gwt/
gwt-unitCache/
www-test/
.gwt-tmp/

## IntelliJ, Android Studio:
.idea/
*.ipr
*.iws
*.iml
out/

## Eclipse
.classpath
.project
.metadata
**/bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans
**/nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

## VSCode
.vscode/

## OS Specific
.DS_Store

## Project Specific
*/build/

## iOS Specific
build/
DerivedData/

## Playgrounds
timeline.xctimeline
playground.xcworkspace

## Xcode User Settings 
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Project Specific
*/build/

## High scores 
lwjgl3/hold_my_coffee_highscores.json